/* ---------- Component Classes ---------- */
/* Text Rendering */
.heading-xl {
  font-family: var(--font-family-primary) !important;
  font-size: var(--font-size-h1) !important;
  font-weight: var(--font-weight-bold) !important;
  line-height: var(--line-height-heading) !important;
  letter-spacing: var(--letter-spacing-heading) !important;
  text-transform: var(--text-transform-heading);
}

.heading-lg {
  font-family: var(--font-family-primary) !important;
  font-size: var(--font-size-h2) !important;
  font-weight: var(--font-weight-bold) !important;
  line-height: var(--line-height-heading) !important;
  letter-spacing: var(--letter-spacing-heading) !important;
  text-transform: var(--text-transform-heading);
}

.heading-md {
  font-family: var(--font-family-primary) !important;
  font-size: var(--font-size-h3) !important;
  font-weight: var(--font-weight-bold) !important;
  line-height: var(--line-height-heading) !important;
  letter-spacing: var(--letter-spacing-heading) !important;
  text-transform: var(--text-transform-heading);
}

.heading-sm {
  font-family: var(--font-family-primary) !important;
  font-size: var(--font-size-h4) !important;
  font-weight: var(--font-weight-s-bold) !important;
  line-height: var(--line-height-heading) !important;
  letter-spacing: var(--letter-spacing-heading) !important;
  text-transform: var(--text-transform-heading);
}

.heading-xs {
  font-family: var(--font-family-primary) !important;
  font-size: var(--font-size-h5) !important;
  font-weight: var(--font-weight-s-bold) !important;
  line-height: var(--line-height-heading) !important;
  letter-spacing: var(--letter-spacing-heading) !important;
  text-transform: var(--text-transform-heading);
}

.heading-xxs {
  font-family: var(--font-family-primary) !important;
  font-size: var(--font-size-h6) !important;
  font-weight: var(--font-weight-s-bold) !important;
  line-height: var(--line-height-heading) !important;
  letter-spacing: var(--letter-spacing-heading) !important;
  text-transform: var(--text-transform-heading);
}

/* Button */
.btn {
  display: inline-block;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-button);
  letter-spacing: var(--letter-spacing-button);
  text-align: center;
  text-transform: var(--text-transform-button);
  padding: var(--size-16) var(--size-32), clamp(0.5rem, 1vw + 0.5rem, 1rem) clamp(1rem, 2vw + 1rem, 2rem) ;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none !important;
  user-select: none;
  border: var(--border-style-none);
  border-radius: var(--size-4);
  transition: var(--transition-all);
}


/* Card */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--color-white);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: var(--border-radius);
}

.card-body {
  flex: 1 1 auto;
  padding: var(--spacing-4);
}

.card-title {
  margin-bottom: var(--spacing-3);
}

.card-text:last-child {
  margin-bottom: 0;
}

/* ---------- 4. Container ---------- */
.container {
  width: 100%;
}

@media (min-width: 992px) {
 section{
    padding-block: var(--spacing-40);
  }
}


.container-fluid {
/*  background-color: blue;*/
  margin-inline: 4%!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:-webkit-any-link{
  text-decoration: none;
}

.text-span {
  font-family: var(--font-family-secondary) !important;
  font-size: var(--font-size-accent) !important;
  font-weight: var(--font-weight-medium) !important;
  line-height: var(--line-height-accent) !important;
  letter-spacing: var(--letter-spacing-accent) !important;
  text-transform: var(--text-transform-accent);
}

.primary-link {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-link);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-link);
  letter-spacing: var(--letter-spacing-button);
  text-transform: var(--text-transform-button);
  padding: var(--size-16) var(--size-32);
  cursor: pointer;
  background-color: var(--button-color);
  border: var(--border-style-none);
  border-radius: var(--size-4);
  transition: var(--transition-all);
}
a.primary-link:hover{
  text-decoration: none !important;

}

.secondary-link {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-link);
  font-weight: var(--font-weight-s-bold);
  line-height: var(--line-height-link);
  letter-spacing: var(--letter-spacing-button);
  text-transform: var(--text-transform-button);
  padding: var(--size-16) var(--size-32);
  cursor: pointer;
  background-color: transparent;
  border-radius: var(--size-4);
  transition: var(--transition-all);
}


.tetiary-link {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-link);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-link);
  letter-spacing: var(--letter-spacing-link);
  text-transform: var(--text-transform-link);
  color: var(--link-color);
  transition: var(--transition-all);
}

.tetiary-link:visited{
  color: var(--link-visited-color);
}

sup {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-super);
  line-height: var(--line-height-super);
  letter-spacing: var(--letter-spacing-super);
  text-transform: var(--text-transform-super);
}

sub {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-sub);
  line-height: var(--line-height-sub);
  letter-spacing: var(--letter-spacing-sub);
  text-transform: var(--text-transform-sub);
}

/* Paragraph Styles */
.text-body,li {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-body);

}

li{
  list-style: none;
  font-weight: var(--font-weight-regular);
  text-decoration: none;
}



/* Text Overflow */
.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-multiline {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* Flex container for the columns */
.flex-columns {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  align-items: stretch !important;
  gap: var(--size-16);
  
}

/* Flex item for each column */
.flex-column {
  display: flex !important;
/*  flex: 1 0 30%; /* Three columns on large screens */
  flex-direction: column !important;
  padding-inline: var(--size-28) !important;
  padding-block: var(--size-32) !important;
  box-sizing: border-box;
  gap: var(--size-16);

}


.flex-column__content{
  display: flex;
  flex-direction: column;
  gap: var(--size-8);
}


/* Media query for tablets */
@media (max-width: 992px) {
  .flex-column {
    flex-basis: calc(50% - 40px); /* Two columns on tablets */
    flex-grow: 1;
  }

  .flex-columns{
    justify-content: center;
  }

}

/* Media query for small screens */
@media (max-width: 768px) {
  .flex-columns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-24);
  }
  .flex-column {
    flex-basis: calc(100% - 40px); /* One column on small screens */
  }
}


@media (max-width: 480px) {
  .section{
    padding-inline: var(--size-36);
  }
  
}

