@media (max-width: 1440px) {
    #div_block-26-2,#div_block-92-2 {
        flex-wrap: nowrap;
    }
}

@media (max-width: 1280px) {
    #div_block-26-2,#div_block-92-2 {
        flex-wrap: wrap;
    }
}


@media (max-width: 992px) {

#div_block-45-2{
margin-top: 0 !important;
}
}